%section.confirmation_area
  .confirmation_area_main
    .container-fluid
      .row
        .col-sm-12
          .confirmation_item
            %img{:alt => "img", :src => "/images/icons/check.png"}/
            %h1 Thank You!
            %p
              Your Order #{link_to "No. #{@order.number}", @order} is now confirmed!
              %br/
              A courier will reach you during the next 24 hours to collect the cash from your doorstep
            %br/
            = link_to 'back to main page', root_path, class: 'btn btn-lg btn-warning'
