%section.about_us
  .container
    .page_headding
      %h1 ABOUT US
    .about_us_main
      .row
        .col-sm-8
          .about_area_left
            %h4 WHO WE ARE
            %p
              Bejeeb is your way to shop on Amazon and pay for your order with CASH!
            %p
              Unlike ever before, you will be able to surf Amazon through Bejeeb's integrated services and get
              immediately quoted for your orders with a total price that is all anclusive of transparent customes and
              shipping charges. It's convenient, easy and delivered right to your doorstep.
            %p
              You shouldn't be limited to what you can and cannot buy online. We understand that the
              overwhelming majority of users online today want to pay for their order with cash, and we let you
              do just that. With Bejeeb, There is no need for a payment card, bank account, or even bank transfer.
            %p
              Bejeeb's service is bassed on a secure cash payment network that enables customers to complete
              their purchases conveniently around their city-and it's absolutely 100% guaranteed to be safe, or
              your money back!
        .col-sm-4
          .about_area_right
            .about_area_right
            .about_area_right_item
              %img{:alt => "img", :src => "/images/img-4.png"}/
              %h4 BY ONLINE
            .about_area_right_item2
              %img{:alt => "img", :src => "/images/img-5.png"}/
              %h4 YOU CAN PAY CASH
      .row
        .col-sm-12
          .about_area_down
            %h4 THE WORLD IS YOUR SHOPPING CART, AND IT ALL STARTS WITH BEJEEB!
