%section.canibuy_area
  .container
    .page_headding
      %h1 Can I buy it?
      %p
        We aim to bring you the world, but due to some restrictions (international  shipping companies restrictions), the following items are off limits..
    .row
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/1.png"}/
              .canibuy_item_coll2
                %p
                  ANY RELATED ARMY EQUIPMENT OR CLOTHES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/2.png"}/
              .canibuy_item_coll2
                %p
                  FIREARMS GUNS, GUN PARTS AND HUNTING SHOTGUNS.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/3.png"}/
              .canibuy_item_coll2
                %p
                  SHARP ITEMS SUCH AS KNIVES, SWORDS AND BLADES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/4.png"}/
              .canibuy_item_coll2
                %p
                  FIREWORKS.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/5.png"}/
              .canibuy_item_coll2
                %p
                  ELECTRONIC CIGARETTES/ ACCESSORIES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/6.png"}/
              .canibuy_item_coll2
                %p
                  LOOSE LITHIUM BATTERIES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/7.png"}/
              .canibuy_item_coll2
                %p
                  WALKIE TALKIE.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/6.png"}/
              .canibuy_item_coll2
                %p
                  SELF-DEFENSE ITEMS.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/9.png"}/
              .canibuy_item_coll2
                %p
                  TOY WEAPONS, PAINTBALL GUNS AND BB GUNS.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/10.png"}/
              .canibuy_item_coll2
                %p
                  SPY CAMERAS.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/11.png"}/
              .canibuy_item_coll2
                %p
                  GPS.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/12.png"}/
              .canibuy_item_coll2
                %p
                  WATCHES WITH CAMERA OR SIMCARD.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/13.png"}/
              .canibuy_item_coll2
                %p
                  SPRAY.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/14.png"}/
              .canibuy_item_coll2
                %p
                  SECURITY CAMERA AND BABY MONITOR.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/15.png"}/
              .canibuy_item_coll2
                %p
                  FLYING TOYS/ EQUIPMENT (HELICOPTERS AND QUADRO HELICOPTERS).
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/16.png"}/
              .canibuy_item_coll2
                %p
                  INK.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/17.png"}/
              .canibuy_item_coll2
                %p
                  ANTIQUES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/18.png"}/
              .canibuy_item_coll2
                %p
                  ARTWORK PAINTINGS.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/19.png"}/
              .canibuy_item_coll2
                %p
                  LOTTERY TICKETS AND GAMBLING DEVICES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/20.png"}/
              .canibuy_item_coll2
                %p
                  SEX TOYS AND PORNOGRAPHY MATERIALS.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/21.png"}/
              .canibuy_item_coll2
                %p
                  FOOD AND FOOD SUPPLIES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/22.png"}/
              .canibuy_item_coll2
                %p
                  TOBACCO PRODUCTS, LIQUORS AND ALCOHOL PRODUCTS..
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/23.png"}/
              .canibuy_item_coll2
                %p
                  FERTILIZERS
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/24.png"}/
              .canibuy_item_coll2
                %p
                  PAINT AND VARNISH.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/25.png"}/
              .canibuy_item_coll2
                %p
                  NAIL POLISH AND NAIL POLISH REMOVER.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/26.png"}/
              .canibuy_item_coll2
                %p
                  PERFUMES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/27.png"}/
              .canibuy_item_coll2
                %p
                  HAIR SPRAYS AND SHAVING CREAM.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/28.png"}/
              .canibuy_item_coll2
                %p
                  COMPRESSED GASES, INCLUDING CO2 CARTRIDGES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/29.png"}/
              .canibuy_item_coll2
                %p
                  GLUES AND ADHESIVES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/30.png"}/
              .canibuy_item_coll2
                %p
                  DYES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/31.png"}/
              .canibuy_item_coll2
                %p
                  COUNTER CLEANER/ DRAIN/OVEN CLEANERS &#x2022; ANTIFREEZE.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/32.png"}/
              .canibuy_item_coll2
                %p
                  ALCOHOL-BASED HAND SANITIZERS.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/33.png"}/
              .canibuy_item_coll2
                %p
                  homeWATER/AQUARIUM TEST KITS.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/34.png"}/
              .canibuy_item_coll2
                %p
                  MAGNET.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/35.png"}/
              .canibuy_item_coll2
                %p
                  LEAD ACID BATTERIES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/36.png"}/
              .canibuy_item_coll2
                %p
                  LIGHTERS.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/37.png"}/
              .canibuy_item_coll2
                %p
                  MEDICINES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/38.png"}/
              .canibuy_item_coll2
                %p
                  ULTRASOUND DEVICES.
      .col-sm-4
        %a{:href => "#"}
          .canibuy_item
            .canibuy_item_row
              .canibuy_item_coll1
                %img{:alt => "img", :src => "/images/buy/39.png"}/
              .canibuy_item_coll2
                %p
                  LAMP.
