/*
 *= require_tree .
 *= require_self
 */

.alert-announcement {
  background-color: #f69833;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  padding: 0.8rem;
  margin-bottom: 0;
  a {
    color: #fff;
  }
}


#error_explanation {
  color: red;
  font-size: 1.5rem;
  h2 {
    font-size: 2rem;
  }
  ul {
    margin: 2rem 0;
  }
}


.hero_area {
  background: url(asset-path('home-bg.png')) bottom center no-repeat;
  background-size: contain;
  background-position: right;
  background-color: #fff;
}
.home-header {
  padding-top: 110px;
  min-height: 700px;
  color: #000;
  h1 {
    font-size: 5rem;
    padding: 1.5rem 0;
    line-height: 6.5rem;
  }
  p {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 40px;
  }
}
.signin_btn {
  border: 0;
}
